{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>signup page</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts register/line-awesome/css/line-awesome.min.css' %}">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="{% static 'css_register/style.css' %}" />
</head>

<body class="form-v7">

	<div class="page-content">

		<div class="form-v7-content">
			<div class="form-left">
				<img src="{% static 'images register/form-v7.jpg' %}" alt="form">
				<p class="text-1">Sign Up</p>
			</div>
			<form class="form-detail" action="/register/" method="POST" id="myform">
				{% csrf_token %}
				<div class="form-row">
					<label for="username">First Name</label>
					<input type="text" name="firstname"
						oninput="$(this).val($(this).val().replace(/[^a-zA-Z\s]/gi, ''));nameFn()" id="firstname"
						class="input-text" required>
					<p style="color: red;" id="error1"></p>
				</div>

				<div class="form-row">
					<label for="username">Last Name</label>
					<input type="text" name="lastname"
						oninput="$(this).val($(this).val().replace(/[^a-zA-Z\s]/gi, ''));nameFn()" id="lastname"
						class="input-text" required>

				</div>

				<div class="form-row">
					<label for="username">USERNAME</label>
					<input type="text" name="username" id="username"
						oninput="this.value = this.value.replace(/\s/g,'');" class="input-text" required>

				</div>

				<div class="form-row">
					<label for="your_email">E-MAIL</label>
					<input type="text" name="your_email" oninput="this.value = this.value.replace(/\s/g,'');" id="email"
						class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">

				</div>

				<div class="form-row">
					<label for="password">PASSWORD</label>
					<input type="password" name="password" id="password" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="comfirm_password">CONFIRM PASSWORD</label>
					<input type="password" name="comfirm_password" id="comfirm_password" class="input-text" required>
					<span>
						{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
							style="padding: 1px; background-color: red;">
							{{ message }}
						</div>
						{% endfor %}
						{% endif %}
					</span>
				</div>

				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
					<p>Or<a href="/signin/">Sign in</a></p>


				</div>
			</form>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script>
		function nameFn() {
			let name = $("#firstname").val();
			let secondName = $("#lastname").val();
			name = name.replace(/  +/g, ' ');
			secondName = secondName.replace(/  +/g, ' ');
			$("#firstname").val(name);
			$("#lastname").val(secondName);
		}
		// just for the demos, avoids form submit
		jQuery.validator.setDefaults({
			debug: false,
			success: function (label) {
				label.attr('id', 'valid');
			},
		});
		$("#myform").validate({
			rules: {
				your_email: {
					required: true,
					email: true
				},
				password: "required",
				comfirm_password: {
					equalTo: "#password"
				}
			},
			messages: {
				firstname: {
					required: "Please enter first name"
				},
				lastname: {
					required: "Please enter last name"
				},
				username: {
					required: "Please enter an username"
				},
				your_email: {
					required: "Please provide an email"
				},
				password: {
					required: "Please provide a password"
				},
				comfirm_password: {
					required: "Please provide a password",
					equalTo: "Wrong Password"
				}
			}
		});




	</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>